<section class="productos" id="products">
  <div class="center-text">
    <h2>Nuestros <span>Accesorios</span> En Oferta</h2>
  </div>
  <div class="products">
    <div class="row"*ngFor="let item of productos">
      <img [src]="item.imagen" alt="muestra" routerLink="/compra/{{item.id}}">
      <div class="product-text">
        <h5>Oferta</h5>
      </div>
      <div class="heart-icon">
        <i class="fa-regular fa-heart"></i>
      </div>
      <div class="ratting">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half-stroke"></i>
      </div>
      <div class="price">
        <h4>{{item.nombre}}</h4>
        <p>{{item.precio|currency}}</p>
      </div>
    </div>
  </div>
</section>
