<footer class="footer">
  <div class="contact-info">
    <div class="social-icon">
      <img src="../assets/img/icon.png" alt="">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="contacto">
      <p>San Salvador de Jujuy <br> Jujuy,Argentina</p>
      <p>+543884144013</p>
      <p>encanto@gmail.com</p>
    </div>

    <div class="segunda-info">
      <h4>Shop</h4>
      <p>Collares</p>
      <p>Anillos</p>
      <p>Pulseras</p>
    </div>
  </div>
</footer>
<div class="end-text">
  <p>Copyright © @2023. All rights reserved</p>
</div>
