<section>
  <div class="container flex">
    <div class="left">
      <div class="main-image">
        <img src="../assets/img/muestra2.webp" alt="">
      </div>
    </div>
    <div class="right">
      <h3>Collar para compartir</h3>
      <h4><small>$</small>500.00</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, corrupti.</p>
      <h5>Cantidad</h5>
      <div class="add flex1">
        <span>-</span>
        <label>1</label>
        <span>+</span>
      </div>
      <button>Agregar al carrito</button>
    </div>
  </div>
</section>
