<section id="cart" class="section-p1">
  <table width="100%">
    <thead>
      <tr>
        <td>Borrar</td>
        <td>Imagen</td>
        <td>Producto</td>
        <td>Precio</td>
        <td>Cantidad</td>
        <td>Subtotal</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#"><i class="far fa-times-circle"></i></a></td>
        <td><img src="../assets/img/muestra.jpg" alt="muestra"></td>
        <td>Collar para compartir</td>
        <td>$500.00</td>
        <td><input type="number" value="1"></td>
        <td>$500.00</td>
      </tr>
      <tr>
        <td><a href="#"><i class="far fa-times-circle"></i></a></td>
        <td><img src="../assets/img/muestra.jpg" alt="muestra"></td>
        <td>Collar para compartir</td>
        <td>$500.00</td>
        <td><input type="number" value="1"></td>
        <td>$500.00</td>
      </tr>
      <tr>
        <td><a href="#"><i class="far fa-times-circle"></i></a></td>
        <td><img src="../assets/img/muestra.jpg" alt="muestra"></td>
        <td>Collar para compartir</td>
        <td>$500.00</td>
        <td><input type="number" value="1"></td>
        <td>$500.00</td>
      </tr>
    </tbody>
  </table>
</section>
<section id="cart-add" class="section-p1">
  <div id="subTotal">
    <h3>Cart total</h3>
    <table>
      <tr>
        <td>Cart Subtotal</td>
        <td>$1500.00</td>
      </tr>
      <tr>
        <td>Envio</td>
        <td>Gratis</td>
      </tr>
      <tr>
        <td><strong>Total</strong></td>
        <td><strong>$1500.00</strong></td>
      </tr>
    </table>
    <button type="submit">Comprar</button>
  </div>
</section>
